$bodyBgColor: green;
$headerBgColor: white;
$loginBtnBgColor1: rgb(228, 228, 228);
$loginBtnBgColor1Hover: rgb(228, 228, 228);
$signupBtnBgColor2: rgb(25, 25, 47);
$signupBtnBgColor2Hover: rgb(25, 25, 47);
$pWhite: white;


*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: $bodyBgColor;
    

    header {
        border: 1px solid black;
        display: flex;
        align-items: center;
        margin: 3% 3%;
        border-radius: 50px;
        background-color: $headerBgColor;
        justify-content: space-around;
        height: 15%;
        
        .logo-div {
            border: 1px solid red;
            width: 10%;
            

            .nav-logo{
                border: 1px solid blue;
                height: 50%;
                width: 100%;

            }
        }

        nav {
            border: 1px solid black;
            width: 30%;
            margin-right: 30%;
            

            ul {
                display: flex;
                justify-content: space-between;

                
                li {
                    list-style-type: none;

                    .a-link-market {
                        text-decoration: none;
                        // color: pink;
                        // color: pink;
    
                    }
    
                    .a-link-disc {
                        text-decoration: none;
    
                    }
    
                    .a-link-pricing {
                        text-decoration: none;
                        
                    }
    
                    .a-link-learn {
                        text-decoration: none;   
    
                    }
                }
            }
        }

        .btn-div {
            border: 1px solid black;
            height: 70%;
            width: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .login-btn {
                height: 100%;
                width: 35%;
                background-color: $loginBtnBgColor1;
                border-radius: 10px;
                font-size: 115%;
                font-weight: 100;

                &:hover {
                    background-color: $loginBtnBgColor1Hover;
                }

            }

            .signup-btn {
                height: 100%;
                width: 60%;
                background-color: $signupBtnBgColor2;
                border-radius: 50px;
                color: $pWhite;
                font-size: 115%;
                font-weight: 100;

                &:hover {
                    background-color: $signupBtnBgColor2Hover;
                }

            }
        }


    }
}

