$bodyBgColor: green;
$headerBgColor: white;
$loginBtnBgColor1: rgb(228, 228, 228);
$loginBtnBgColor1Hover: rgb(209, 207, 207);
$signupBtnBgColor2: rgb(25, 25, 47);
$signupBtnBgColor2Hover: rgb(54, 54, 68);
$pWhite: white;
$pNavColor: grey;


*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: $bodyBgColor;
    

    header {
        // border: 1px solid black;
        display: flex;
        align-items: center;
        margin: 3% 3%;
        border-radius: 50px;
        background-color: $headerBgColor;
        justify-content: space-around;
        height: 15%;
        
        .logo-div {
            // border: 1px solid red;
            width: 10%;
            

            .nav-logo{
                // border: 1px solid blue;
                height: 50%;
                width: 100%;

            }
        }

        nav {
            // border: 1px solid purple;
            height: 40%;
            width: 30%;
            margin-right: 30%;
            // display: flex;
            // justify-content: space-between;
            align-items: center;
            

            ul {
                display: flex;
                justify-content: space-around;
                // align-items: center;
                height: 100%;
                // background-color: yellow;
                

                
                li {
                    list-style-type: none;
                    // margin: 1.4% 0;
                    height: 70%;
                    // border: 1px solid green;
                    // background-color: rgb(48, 48, 55);
                    margin: 0% 0;
                    padding: 1.3% 4.5%;
                    display: flex;
                    border-radius: 8px;
                    // align-content: center;

                    &:hover {
                        background-color: $loginBtnBgColor1;
                    }

                    

                    
                    

                    .a-link-market {
                        text-decoration: none;
                        color: $pNavColor;
                        // border: 1px solid rgb(214, 205, 205);
                        height: 100%;
                        align-items: center;
                        margin: 3% 0;
                        font-weight: 500;
                        font-size: 110%;
                        
                        // margin: 20% 0;
                        // color: pink;
    
                    }
    
                    .a-link-disc {
                        text-decoration: none;
                        color: $pNavColor;
                        // border: 1px solid black;
                        height: 100%;
                        margin: 3% 0;
                        align-items: center;
                        font-weight: 500;
                        font-size: 110%;
    
                    }
    
                    .a-link-pricing {
                        text-decoration: none;
                        color: $pNavColor;
                        // border: 1px solid black;
                        border-radius: 10px;
                        margin: 3% 0;
                        align-items: center;
                        font-weight: 500;
                        font-size: 110%;
                        // height: 200%;
                        
                        
                    }
    
                    .a-link-learn {
                        text-decoration: none; 
                        color: $pNavColor;
                        // border: 1px solid black;  
                        margin: 3% 0;
                        align-items: center;
                        font-weight: 500;
                        font-size: 110%;
                        // margin: 104px 0;
    
                    }
                }
            }
        }

        .btn-div {
            // border: 1px solid black;
            height: 70%;
            width: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .login-btn {
                height: 100%;
                width: 35%;
                background-color: $loginBtnBgColor1;
                border-radius: 10px;
                font-size: 115%;
                font-weight: 100;
                cursor: pointer;

                &:hover {
                    background-color: $loginBtnBgColor1Hover;
                }

            }

            .signup-btn {
                height: 100%;
                width: 60%;
                background-color: $signupBtnBgColor2;
                border-radius: 50px;
                color: $pWhite;
                font-size: 115%;
                font-weight: 100;
                cursor: pointer;

                &:hover {
                    background-color: $signupBtnBgColor2Hover;
                }

            }
        }


    }
}

