


*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    header {
        border: 1px solid black;
        // background-color: yellow;
        
        .logo-div {
            border: 1px solid red;
            

            .nav-logo{
                border: 1px solid blue;
                height: 20%;
                width: 40%;

            }
        }

        nav {

            ul {
                
                .a-link-market {
                    // color: pink;

                }

                .a-link-disc {

                }

                .a-link-pricing {

                }

                .a-link-learn {

                }
            }
        }


    }
}

